@import "../../assets/theme/_var.scss";
.burn-modal--container{
  position: relative;
  .burn-token_modal{
  
      position: absolute;
      top:50%;
      left:0;
      right: 0;
      margin:0 auto;
      max-width: 410px;
      z-index: 100;
      transform: translateY(-50%);
      .modal_headerStyle__rowA_colRight{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .burn-modal--body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &>div {
        margin-top: .5rem;
      }
      // & * {
      //   color: white !important;
      // }
    }
  }
}



.table_responsive {
  @media (max-width: 991px) {
    overflow-x: scroll;
    height: 350px;
    white-space: nowrap;
  }
  .table.table--token-list {
    margin: 0 auto;
    border-color: #fff;
    border: 1px solid $secondaryColor;
    border-radius: 10px;
    padding: 10px;
    margin-left: 236px;
    width: 85%;
    border-collapse: collapse;
    thead {
      tr {
        th {
          padding: 18px;
          color: $yellowClr;
          text-align: left;
          border: 1px solid $yellowClr;
        }
      }
    }
    tbody {
      height: 400px;
      tr {
        td {
          padding: 18px;
          color: $whiteColor;
          border: 1px solid $whiteColor;
        }
      }
    }
  }
  .pagination {
    // margin-left: 236px;
    display: flex;
    justify-content: end;
    padding: 30px 50px;
    li {
      margin: 0 5px;
      cursor: pointer;
      a {
        color: $yellowClr;
        position: relative;
        cursor: pointer;
        &:hover {
          transform: scale(1.5);
          font-size: 25px;
        }
        // &::before{
        //   position: absolute;
        //   content: "";
        //   width: 20px;
        //   height: 20px;
        //   border: 1px solid red;
        //   border-radius: 10px;
        // }
      }
    }
  }
}

.copy-icon {
  float: right;
}
.token_list {
  background-image: url(../../assets/images/swapBg.png);
  background-size: cover;
  min-height: 100vh;
  ul {
    // margin: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    gap: 20px;
    @media(max-width: 960px) {
      margin: unset;
      padding: 0 30px;
    }
    .token_card {
      border: 1px solid $secondaryColor;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      margin-top: 10px;
      gap: 20px;
      justify-content: space-evenly;
      max-width: 750px;
      width: 100%;
      align-items: flex-start;
      @media(max-width: 960px) {
        max-width: 100%;
      }
      // margin-top: 10px;
      @media (max-width: 991px) {
        margin: 10px 0px 0;
        max-width: 100%;
      }
      .token_img {
        // border: 1px solid $whiteColor;
        img{
          width: 150px;
          height: 150px;
          border-radius: 50%;

        }
        // align-self: center;
      }
      .add_sec,
      .supply_sec {
        display: flex;
        flex-direction: column;
        span {
          margin: 10px 0;
          label {
            color: $yellowClr;
            font-weight: 700;
            margin-bottom: 5px !important;
          }
          .trunc_sec {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
