$baseFont:"Montserrat", sans-serif;
$secondaryFont:"Montserrat", sans-serif;
$baseColor:#000;
$secondaryColor:#ce114b;
$whiteColor:#fff;
$blackColor:#000;
$blueLign:#00d6fe;
$swapStepbg:#496989;
$buttonDisabled:#496989;
$noFeedColor:#00b731;
$goldenYellow: #fbc918;
$yellowClr: #ffb714;
$borderClr: #ffb714;
$darkBlue: #0e1728;
