@import '../../../assets/theme/_var.scss';

.liquidity__content{
    background-image: url('../../../assets/images/swapBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    // padding-left: 600px;
    .token_card{
     color: rgb(255, 251, 251);
    } 
}

.pool-list--container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;   
    color: white;
    .pool-list--heading {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        font-size: 1.6rem;
        color: rgb(235, 77, 77);

    }
    .pool-list--heading > span {
        margin-left: 6rem;
    }
    .pool-list--body {
        margin-right: -9px !important;
        font-size: 1.5rem;
        font-weight: 400;
        max-height: 150px;
        overflow-y: scroll;
        .pool-list-item {
            margin-bottom: 1rem;
            padding: 1rem;
            display: flex;
            justify-content: space-around;
        }
    }

}


